In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Get and Clean data
data = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
data.columns=[e.lower().replace(' ', '_') for e in data.columns]  # lower and replace

data.isna().sum()
round(data.isna().sum()/len(data),4)*100  # shows the percentage of null values in a column
data=data.drop(columns=['vehicle_size'])  # drop a column  (or multiple columns)
data=data.dropna()   # drop rows with nan values
data.isna().sum()

data['effective_to_date'] = pd.to_datetime(data['effective_to_date'], errors='coerce')

In [3]:
#Done in Lab 5: X-y split and Normalize (numerical)
X=data.drop('total_claim_amount', axis=1)
y=data.total_claim_amount
X=X.drop(columns=['customer', 'effective_to_date'])
X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)
from sklearn.preprocessing import StandardScaler

X_scaled=StandardScaler().fit_transform(X_num)

def normalize(X):
    X_mean=X.mean(axis=0)
    X_std=X.std(axis=0)
    X_std[X_std==0]=1.0
    X=(X-X_mean)/X_std
    return X

X_num=normalize(X_num)

In [4]:
# One Hot/Label Encoding (categorical).
# get dummies pandas
pd.get_dummies(X_cat, drop_first=True).head()

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# sklearn
from sklearn.preprocessing import OneHotEncoder

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Concat DataFrames

In [6]:

X.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_California,state_Nevada,state_Oregon,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
0,-0.762836,0.612794,-0.703886,1.678007,-1.543202,-0.422226,-0.822603,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,-0.149237,-1.239549,0.022690,-0.208175,-0.217322,-0.422226,2.106045,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0.710597,0.365690,0.429572,0.288189,-0.360661,-0.422226,-0.404225,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,-0.052260,-1.239549,0.371446,0.288189,0.606873,-0.422226,1.687666,1,0,0,...,0,0,0,1,0,0,0,1,0,0
4,-0.755534,0.203379,-0.587634,-0.307448,-0.145653,-0.422226,-0.822603,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Linear Regression
Solution:

- train-test split.

In [7]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

- Apply linear regression.

In [8]:
# statsmodels version

import warnings
warnings.simplefilter('ignore')

import statsmodels.api as sm
from statsmodels.formula.api import ols

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.773
Model:                            OLS   Adj. R-squared:                  0.771
Method:                 Least Squares   F-statistic:                     536.5
Date:                Tue, 24 Jan 2023   Prob (F-statistic):               0.00
Time:                        14:30:13   Log-Likelihood:                -46349.
No. Observations:                7307   AIC:                         9.279e+04
Df Residuals:                    7260   BIC:                         9.312e+04
Df Model:                          46
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                            117.8052     14.703      8.012      0.000      88.983     146.627
customer_lifetime_value           -1.6668      1.786     -0.933      0.351      -5.168       1.834
income                            -6.7905      2.879     -2.358      0.018     -12.435      -1.146
monthly_premium_auto             173.1616      8.272     20.933      0.000     156.946     189.378
months_since_last_claim            2.1922      1.626      1.348      0.178      -0.995       5.379
months_since_policy_inception      0.1534      1.636      0.094      0.925      -3.054       3.361
number_of_open_complaints         -0.6085      1.619     -0.376      0.707      -3.782       2.565
number_of_policies                 2.7318      1.631      1.675      0.094      -0.466       5.929
state_California                   6.4362      4.677      1.376      0.169      -2.733      15.605
state_Nevada                       6.9074      6.443      1.072      0.284      -5.723      19.538
state_Oregon                       1.1208      4.862      0.231      0.818      -8.409      10.651
state_Washington                   7.2895      6.631      1.099      0.272      -5.710      20.289
response_Yes                     -22.6998      5.091     -4.459      0.000     -32.679     -12.721
coverage_Extended                -11.9680      6.129     -1.953      0.051     -23.983       0.047
coverage_Premium                  -4.6943     12.922     -0.363      0.716     -30.024      20.636
education_College                 -4.2361      4.211     -1.006      0.314     -12.491       4.019
education_Doctor                 -15.0369      8.754     -1.718      0.086     -32.198       2.124
education_High School or Below     9.5207      4.263      2.234      0.026       1.165      17.877
education_Master                  -8.0343      6.518     -1.233      0.218     -20.811       4.743
employmentstatus_Employed         -9.2457      8.619     -1.073      0.283     -26.142       7.651
employmentstatus_Medical Leave    18.5741     10.666      1.741      0.082      -2.334      39.483
employmentstatus_Retired         -10.4976     12.529     -0.838      0.402     -35.058      14.062
employmentstatus_Unemployed       68.9450      8.678      7.945      0.000      51.934      85.956
gender_M                          13.6838      3.260      4.197      0.000       7.292      20.075
location_code_Suburban           381.5608      4.659     81.891      0.000     372.427     390.695
location_code_Urban              222.4620      5.350     41.584      0.000     211.975     232.949
marital_status_Married            -9.2376      4.810     -1.921      0.055     -18.666       0.191
marital_status_Single             58.3783      5.523     10.570      0.000      47.552      69.205
policy_type_Personal Auto          0.8158      6.308      0.129      0.897     -11.549      13.181
policy_type_Special Auto           9.4220      8.860      1.063      0.288      -7.946      26.790
policy_Corporate L2               -7.7616     10.297     -0.754      0.451     -27.946      12.423
policy_Corporate L3                0.7263      9.481      0.077      0.939     -17.859      19.312
policy_Personal L1                 7.2646      4.007      1.813      0.070      -0.590      15.119
policy_Personal L2                -2.6844      3.490     -0.769      0.442      -9.527       4.158
policy_Personal L3                -3.7643      3.168     -1.188      0.235      -9.974       2.445
policy_Special L1                 24.2312     14.826      1.634      0.102      -4.832      53.295
policy_Special L2                  1.0176     10.895      0.093      0.926     -20.340      22.375
policy_Special L3                -15.8268     11.147     -1.420      0.156     -37.678       6.025
renew_offer_type_Offer2           23.7364      4.062      5.844      0.000      15.774      31.699
renew_offer_type_Offer3           14.1298      4.933      2.864      0.004       4.460      23.800
renew_offer_type_Offer4           15.4922      5.712      2.712      0.007       4.295      26.690
sales_channel_Branch               2.6439      4.054      0.652      0.514      -5.303      10.590
sales_channel_Call Center         -2.5844      4.575     -0.565      0.572     -11.553       6.384
sales_channel_Web                  2.4818      5.070      0.489      0.625      -7.457      12.421
vehicle_class_Luxury Car          37.2795     34.316      1.086      0.277     -29.990     104.549
vehicle_class_Luxury SUV          10.6287     33.797      0.314      0.753     -55.623      76.880
vehicle_class_SUV                -11.3220     11.236     -1.008      0.314     -33.347      10.703
vehicle_class_Sports Car         -23.8178     12.856     -1.853      0.064     -49.020       1.384
vehicle_class_Two-Door Car        -1.1159      4.241     -0.263      0.792      -9.429       7.197
==============================================================================
Omnibus:                     3141.174   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            41835.070
Skew:                           1.695   Prob(JB):                         0.00
Kurtosis:                      14.221   Cond. No.                     1.16e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.33e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [9]:
# sklearn version
from sklearn.linear_model import LinearRegression as LinReg

linreg=LinReg()    # model
linreg.fit(X_train, y_train)   # model train
y_pred_linreg=linreg.predict(X_test)   # model prediction

# Model Validation
Solution:

- R2.

train R2: 0.7727033436493173 -- test R2: 0.7696572858411274

- MSE.

In [11]:
from sklearn.metrics import mean_squared_error as mse

train MSE: 18927.417056033228 -- test MSE: 20454.400105573775

- RMSE.

In [12]:
print ('train RMSE: {} -- test RMSE: {}'.format(train_mse**.5, test_mse**.5))

train RMSE: 137.57694958107345 -- test RMSE: 143.01888024164424

- MAE.

In [13]:
from sklearn.metrics import mean_absolute_error as mae

train MAE: 18927.417056033228 -- test MAE: 20454.400105573775