In [57]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

import scipy.stats as stats
from statistics import math

# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [34]:
machine = pd.read_csv("files_for_lab/machine.txt", sep="\t", encoding="utf-16")
machine

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [ ]:
new = machine['New machine']
old = machine['Old machine']

In [41]:
ratio = np.var(old)/np.var(new)
# variances are considered similar since this applies: 1/2 < sX1/sX2 < 2)

1.2038534728829622

In [42]:
stats.ttest_ind(a=new, b=old, equal_var=True)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

H0 is that the means of both groups are equal. Since p-value is less than 0.05, we may assume with a 95% of reliability that we must reject the null hypothesis, meaning that the means are different
-> the new machine is better

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

In [46]:
gpa = pd.read_csv("files_for_lab/student_gpa.txt", sep="\t")
gpa

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [52]:
print(np.var(sophomore), np.var(junior))
#ratio is above 2 so variances are not equal

0.25432941176470586 0.08828402366863906

In [64]:
from scipy.stats import ttest_ind

Ttest_indResult(statistic=-0.9231495630900278, pvalue=0.3642180675348571)

P value is greater than 0.05, we accept the null hypothesis that says that the means of both populations are equal->the mean GPAs of sophomores and juniors at the university do not differ