# Lab | Cross Validation

For this lab, we will build a model on customer churn binary classification problem. You will be using `files_for_lab/Customer-Churn.csv` file.



### Instructions

1. Apply SMOTE for upsampling the data

In [33]:
import pandas as pd
import numpy as np

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score

In [3]:
data = pd.read_csv('files_for_lab/Customer-Churn.csv')
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [4]:
X = data.drop(['Churn'], axis=1)
y = data['Churn']

In [9]:
numericalX = X.select_dtypes(np.number)
categoricalX = X.select_dtypes(object)

In [14]:
X = pd.concat([numericalX, encoded_categorical], axis = 1)
X

,SeniorCitizen,tenure,MonthlyCharges,0,1,2,3,4,5,6,...,6538,6539,6540,6541,6542,6543,6544,6545,6546,6547
0,0,1,29.85,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,34,56.95,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,2,53.85,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,45,42.30,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,2,70.70,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7039,0,72,103.20,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7040,0,11,29.60,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7041,1,4,74.40,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7042,0,66,105.65,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [16]:
y_train.value_counts()/len(y_train)

No     0.733813
Yes    0.266187
Name: Churn, dtype: float64

In [17]:

y_sm.value_counts()

No     3876
Yes    3876
Name: Churn, dtype: int64

    - Use logistic regression to fit the model and compute the accuracy of the model.

In [22]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_sm, y_sm)
clf.score(X_sm, y_sm)

0.8957688338493293

In [23]:
clf.score(X_test, y_test)

0.7569562748438388

    - Use decision tree classifier to fit the model and compute the accuracy of the model.

In [24]:
clf = DecisionTreeClassifier(random_state=0).fit(X_sm,y_sm)
clf.score(X_sm, y_sm)

0.9971620227038184

In [25]:
clf.score(X_test, y_test)

0.7700170357751278

    - Compare the accuracies of the two models.

The Decision Tree Classifier has a higher score both on the train and test datasets, but the score falls considerably with the test dataset, in comparison with the train.
The Logistic Regression has a lower score but the accuracy doesn0t fall as much when using test data.

2. Apply TomekLinks for downsampling

    - It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
    - Use logistic regression to fit the model and compute the accuracy of the model.
    - Use decision tree classifier to fit the model and compute the accuracy of the model.
    - Compare the accuracies of the two models.
    - You can also apply this algorithm one more time and check how the imbalance in the two classes changed from the last time.

In [27]:
y_train.value_counts()

No     3876
Yes    1406
Name: Churn, dtype: int64

In [44]:

y_tm.value_counts()

No     3519
Yes    1406
Name: Churn, dtype: int64

In [45]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_tm, y_tm)
clf.score(X_tm, y_tm)

0.8804060913705584

In [46]:
clf.score(X_test, y_test)

0.7915956842703009

In [47]:
clf = DecisionTreeClassifier(random_state=0).fit(X_tm,y_tm)
clf.score(X_tm, y_tm)

0.9955329949238578

In [48]:
clf.score(X_test, y_test)

0.7745599091425327